<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">   
        <link rel="shortcut icon" type="image/png" href="./images/logo.png"> 
    <title>Nihao AI - Learn Chinese</title>
    <!-- Add links to CSS files and JavaScript here if needed -->
</head>

<body>
    <!-- ====================== flash message ============-->
    <% if (error && error.length) {%>
		<div class="toast error active">
			<div class="toast-content">
				<span class="material-symbols-outlined check">
					check
					</span>
				<div class="message">
					<span class="text text-2">
						<%= error %>
					</span>
				</div>
			</div>
			<span class="material-symbols-outlined close">
				close
				</span>
			<div class="progress active"></div>
		</div>
	<% } %>
    <% if (success && success.length) {%>
        <div class="toast active">
          <div class="toast-content">
            <span class="material-symbols-outlined check">
				check
				</span>
            <div class="message">
              <span class="text text-2">
                <%= success %>
              </span>
            </div>
          </div>
          <span class="material-symbols-outlined close">
			close
			</span>
          <div class="progress active"></div>
        </div>
        <% } %>
	<% if (error && error.length || success && success.length) { %>
				<script>
					//  ====================== flash message ===========
					const toast = document.querySelector(".toast");
					const closeIcon = document.querySelector(".close");
					const progress = document.querySelector(".progress");
					let timer1, timer2;
					timer1 = setTimeout(() => {
						toast.classList.remove("active");
					}, 7000); //1s = 1000 milliseconds
					timer2 = setTimeout(() => {
						progress.classList.remove("active");
					}, 7300);
					closeIcon.addEventListener("click", () => {
						toast.classList.remove("active");
						setTimeout(() => {
							progress.classList.remove("active");
						}, 300);
						clearTimeout(timer1);
						clearTimeout(timer2);
					});
				</script>
				<% } %>
    <div class="overlay"></div>
    <aside class="dashboard-sidebar">
        <div class="sidebar-content">
            <div class="sidebar-logo">
                <img src="./images/logo.png" alt="OAM AI Logo" class="logo" />
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li class="nav-item active overview">
                        <a href="/dashboard">
                            <span class="icon material-symbols-outlined">
                                smart_toy
                                </span>
                            <span>Speak</span>
                        </a>
                    </li>
                    <li class="nav-item overview">
                        <a href="/settings">
                            <span class="icon material-symbols-outlined">
                                group
                                </span>
                                <span>Settings</span>
                        </a>
                    </li>
                    <!-- More nav items -->
                </ul>
            </nav>
            <div class="sidebar-footer">
                <a href="/logout">
                    <span>Logout</span>
                    <span class="icon material-symbols-outlined">
                        arrow_right_alt
                    </span>
                </a>
            </div>
        </div>
    </aside>

    <main class="dashboard-main">
        <header class="dashboard-header">
            <span class="menu-toggle material-symbols-outlined">
                menu
            </span>
            <div class="user-profile">
                <a href="/settings" class="userHeader">
                    <% if (userInfo.profileImage.url) {%>
                        <img src="<%= userInfo.profileImage.url %>" alt="User Avatar" class="user-avatar" />
                    <% } else {%>
                        <span class="material-symbols-outlined icon">
                            person
                        </span>
                    <% } %>
                    <div class="user-greeting">
                        <span class="morning">Hello,</span>
                        <span class="user-name"><%= userInfo.firstName %> <%= userInfo.lastName %><span>.</span></span>
                    </div>
                </a>
            </div>
        </header>
        <div class="property-container">
            <h2 class="title-header">Learn by Speaking</h2>
            <div class="prompt-list">
                <div class="flex-wrapper">
                    <div class="prompt-item"> 
                        <div class="first-section">
                                <div class="prompt-thumbnail">
                                    <img src="./images/hsk1.png" alt="hsk 1" />
                            </div>
                        </div>
                        <div class="prompt-second-section">
                            <div class="prompt-details">
                                <h2 class="prompt-title">HSK 1</h2>
                                <p class="prompt-description">Kickstart your journey! Learn the fundamentals and start speaking basic Chinese right away</p>
                            </div>
                        </div>
                        <div class="chat-btn">
                            <a href="/assistant/chat-interface/hsk1">Chat now</a>
                        </div>
                    </div> 
                    <div class="prompt-item"> 
                        <div class="first-section">
                                <div class="prompt-thumbnail">
                                    <img src="./images/hsk2.png" alt="hsk 2" />
                            </div>
                        </div>
                        <div class="prompt-second-section">
                            <div class="prompt-details">
                                <h2 class="prompt-title">HSK 2</h2>
                                <p class="prompt-description">Build your basics! Perfect for beginners to start speaking and understanding simple Chinese</p>
                            </div>
                        </div>
                        <div class="chat-btn">
                            <a href="/assistant/chat-interface/hsk2">Chat now</a>
                        </div>
                    </div> 
                </div>
                <div class="flex-wrapper">
                    <div class="prompt-item"> 
                        <div class="first-section">
                                <div class="prompt-thumbnail">
                                    <img src="./images/hsk3.png" alt="hsk 3" />
                            </div>
                        </div>
                        <div class="prompt-second-section">
                            <div class="prompt-details">
                                <h2 class="prompt-title">HSK 3</h2>
                                <p class="prompt-description">Take it up a notch! Expand your vocabulary and improve your conversational skills</p>
                            </div>
                        </div>
                        <div class="chat-btn">
                            <a href="/assistant/chat-interface/hsk3">Chat now</a>
                        </div>
                    </div> 
                    <div class="prompt-item"> 
                        <div class="first-section">
                                <div class="prompt-thumbnail">
                                    <img src="./images/hsk4.png" alt="hsk 4" />
                            </div>
                        </div>
                        <div class="prompt-second-section">
                            <div class="prompt-details">
                                <h2 class="prompt-title">HSK 4</h2>
                                <p class="prompt-description">Master the essentials! Get fluent with more complex sentences and everyday conversations</p>
                            </div>
                        </div>
                        <div class="chat-btn">
                            <a href="/assistant/chat-interface/hsk4">Chat now</a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </main>

    <script src="./javascript/dashboard.js"></script>
    <script src="./javascript/propertyValidation.js"></script>

</body>

</html>